* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 5px;
  border: 2px solid red;
  width: 30rem;
  height: 30rem;
  color: black;
}
.flex-item-1 {
  background-color: aqua;
  height: 5rem;
  width: 5rem;
}
.flex-item-2 {
  background-color: darkgoldenrod;
  height: 15rem;
  width: 5rem;
}
.flex-item-3 {
  background-color: seagreen;
  height: 5rem;
  width: 5rem;
}
.flex-item-4 {
  background-color: sienna;
  height: 5rem;
  width: 5rem;
}
.flex-item-5 {
  border: 1px solid rgb(21, 211, 21);
  background-color: rgb(56, 38, 29);
  width: 5rem;
  height: 5rem;
  color: rgb(185, 110, 110);
  text-decoration: none;
}
