* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 5px;
  border: 2px solid red;
  width: 100vw;
  height: 100vh;
  color: black;
}
.flex-item-1 {
  background-color: aqua;
  height: 3rem;
  width: 5rem;
  order: 0;
  align-self: baseline;
  /* flex-grow: 1; */
  flex-shrink: 1;
}
.flex-item-2 {
  background-color: darkgoldenrod;
  height: 6rem;
  width: 6rem;
  order: -5;
  align-self: auto;
  /* flex-grow: 2; */
}
.flex-item-3 {
  background-color: seagreen;
  height: 5rem;
  width: 5rem;
  order: 3;
  /* flex-grow: 3; */
}
.flex-item-4 {
  background-color: sienna;
  height: 8rem;
  width: 5rem;
  order: 2;
  /* flex-grow: 4; */
}
.flex-item-5 {
  border: 1px solid rgb(21, 211, 21);
  background-color: rgb(56, 38, 29);
  width: 5rem;
  height: 7rem;
  color: rgb(185, 110, 110);
  text-decoration: none;
  order: 1;
  /* flex-grow: 0; */
}
