* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

header,
section,
article,
aside,
nav,
footer {
    display: block;
}

.main_container {
    width: 800px;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;

}

.logo {
    float: left;
    width: 50px;
    height: 50px;
}

.top_nav {
    float: left;
    width: 750px;
}

.top_nav ul li {
    float: left;
    padding: 19px 20px;
    /* or display: inline-block;*/
}

.main_content {
    float: left;
    width: 650px;
}

.main_content article {
    border: 1px solid rgb(226, 19, 19);
    border-radius: 10px;
    padding: 10px;
}

.right_content {
    float: left;
    width: 150px;
}

.right_content div {
    border: 1px solid rgb(255, 230, 0);
    border-radius: 10px;
    margin: 0px 10px 10px 10px;

}

.page_footer {
    clear: both;
    text-align: center;
}

.clear {
    clear: both;
}