* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

body {
}
header {
}
.nav-bar {
    border: 1px red solid;

}
.left-sidebar {
}
.main-section {
  text-align: center;

}
.right-sidebar {
}

footer {
}
.left-footer {
}
.main-footer {
}
.right-footer {
}
.base-footer {
}
