* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}


body {
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: beige;
    color: rgb(172, 172, 172);
    border: 3px dotted red;
    width: 100%;
    min-height: 100vh;
}

h1,
h2 {
    text-align: center;
    text-decoration: underline;
    background-color: rgb(141, 94, 47);
    width: 100%;
    font-size: 2rem;
    padding: 0.2em;
}



p {
    margin: 10px;
    border: 1px solid black;
    color: red;
    text-align: center;
    font-size: 1rem;
}

p span {
    text-transform: uppercase;
    background-color: goldenrod;
    text-decoration: line-through;
}


.navy-blue {
    color: navy;
}

#vi {
    color: blueviolet;
    font-style: italic;
}

main {

    width: 50vw;
    border: 2px solid purple
}