* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    border: 2px outset darkolivegreen;
    margin: 0.5rem;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: 75px auto 75px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd hd"
        "mn mn mn mn mn mn mn sb sb"
        "ft ft ft ft ft ft ft ft ft";
    gap: 1rem;

    background-color: chartreuse;
}

header,
nav,
main,
aside,
footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header,
footer {
    position: sticky;
}

nav {
    background-color: powderblue;
    color: navy;
}

.custom-divider {
    border: 0;
    height: 2px;
    background: linear-gradient(to right, red, blue);
    margin: 2rem 0;
}

.container {
    border: 1px solid black;
    min-height: 400px;
    display: grid;
    grid-area: mn;
    grid-template-columns: repeat(3, 1fr 2fr);
    grid-auto-rows: minmax(100px, auto);
    row-gap: 5px;
    column-gap: 5px;
}

.box {
    background-color: khaki;
    color: darkgreen;
    font-size: 2rem;
    padding: 0.5rem;
    border: 1px solid saddlebrown;
}

.box:first-child {
    background-color: orange;
    /* 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

shorthands to the properties below:
*/
    grid-column: 1/3;
    grid-row: 1/3;

    display: grid;

    /*
    place-content: center center is shorthand for the following:
    */
    align-content: center;
    justify-content: center;

}

.box:nth-child(odd):hover {
    background-color: chocolate;
}

.box:nth-child(2) {
    background-color: black;
    color: white;
    grid-column: 1/7;
    grid-row: 3/5;
}

.el {
    background-color: rebeccapurple;
    color: wheat;
    display: grid;
    place-content: center;
}

.header {
    grid-area: hd;
}



.sidebar {
    grid-area: sb;
    background-color: brown;
}

.footer {
    grid-area: ft;
    background-color: darkorange;
}

/*small*/
@media screen and (min-width:576px) {
    body {
        background-color: cadetblue;
    }

    nav {
        display: none;
    }
}

/*medium*/
@media screen and (min-width:768px) {
    body {
        background-color: crimson;
    }

}

/*large*/
@media screen and (min-width:992) {
    body {
        background-color: grey;
    }

}

/*xl*/
@media screen and (min-width:1200px) {
    body {
        background-color: gold;
    }

}

/*2xl*/
@media screen and (min-width:1400px) {
    body {
        background-color: hotpink;
    }

}


/*mobide device landscape*/
@media screen and (max-height:425px) and (min-aspect-ratio:7/4) {

    body {
        background-color: lightsteelblue;
    }

    h1,
    h2 {
        font-size: 1.5rem;
    }

    nav {
        display: none;
    }
}