@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div {
    width: 200px;
    height: 200px;
    border: 1px solid #000;

    /*how to easily center grid items*/
    display: grid;
    place-content: center;
}

div:first-child {
    background-color: floralwhite;


    /*
    other animation properties include:
    
    transform: skewX(10deg);
    transform: scaleX(50%);
    transform: rotateX(180deg); 
    transform: translateX(-122px); 
    */

}

div:nth-child(2) {
    background-color: firebrick;

    /*
    other animation properties include:
    
    transform: scaleY(10%);
    transform: skewY(-10deg);
    transform: rotateY(180deg);
    transform: translateY(70px);
    */

}

div:last-child {
    background-color: forestgreen;

    /*
    other animation properties include:
    
    transform: scale(50%, 50%);
    transform: skew(10deg, 10deg);
    transform: rotateZ(57deg); 
    transform: translate(100%, 122px);
    */

}

div:hover {
    background-color: plum;
    /*
    transition-property: background-color, transform;
    transition-duration: 2s, 3s;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;

    shorthand for the above declarations include:
    */
    transition: all ease-in-out 2s 0.5s
}

div:last-child:hover {
    transform: rotate(120deg)
}

.animate {
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;

    /*
        the shorthand for the above is:
        animation: 5s ease-in-out 1s 5 alternate forwards slide
        */
}

@keyframes slide {
    0% {
        transform: translateX(0)
    }

    33% {
        transform: translateX(300px) rotate(180deg);
    }

    66% {
        transform: translateX(-300px) rotate(-180deg);
    }

    100% {
        transform: translateX(0);
        background-color: goldenrod;
    }
}